<div id="feat_content" class="visualstate">
    <h3>Featured events</h3>
    <table class="table table-striped">
        <tr>
            <td><img id="big_data_ro_2012_logo" src="" alt="BigData.ro Conference"></td>
            <td><a href="http://www.bigdata.ro/" target="_blank">The BigData.ro conference</a> took place on the 30th of
                January 2013.
            </td>
        </tr>
        <tr>
            <td><img id="sw_romania_2012_logo" src="" alt="Startup Weekend Romania"></td>
            <td><a href="http://romania.startupweekend.org/" target="_blank">Startup Weekend Romania</a> took place
                between 9-11 of November 2012.
            </td>
        </tr>
        <tr>
            <td><img id="java2days_2012_logo_e" src="" alt="Java2Days Conference"></td>
            <td><a href="http://2012.java2days.com/" target="_blank">The Java2Days conference</a> took place between
                25-26 of October 2012 in Sofia, Bulgaria.
            </td>
        </tr>
        <tr>
            <td><img id="hackathon_ro_logo" src="" alt="Hackover 2012 Hackathon"></td>
            <td><a href="http://www.hackathon.ro/" target="_blank">The Hackover 2012 Hackathon</a> took place between
                27-28 of October 2012.
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<!-- id="feat_content" -->
