<div id="home_content" class="visualstate">
    <h3>Welcome!</h3>

    <p>
        <strong>Bucharest JUG</strong> is a friendly community of passionate developers who use one of the languages
        that are based on the JVM (Java Virtual Machine) -
        <a href="http://www.java.com/en/" target="_blank">Java</a>,
        <a href="http://www.scala-lang.org/" target="_blank">Scala</a>,
        <a href="http://groovy.codehaus.org/" target="_blank">Groovy</a>,
        <a href="http://clojure.org/" target="_blank">Clojure</a>,
        <a href="http://jruby.org/" target="_blank">JRuby</a>.
    </p>

    <p>Our regular monthly meetups begin around 7PM, feature slide presentations and provide opportunities for
        professional networking. Later on we go to a pub for drinks.</p>

    <h3>Say hello, stay in touch</h3>

    <p>
        <a href="http://groups.google.com/group/bucharest-jug" target="_blank"><img id="mail" src=""></a>
        <a href="https://plus.google.com/communities/112173118183013194524" target="_blank"><img id="gplus" src=""
                                                                                                 style="margin-left:30px; margin-right: 30px;"></a>
        <a href="atom.xml" target="_blank"><img id="rss" src=""></a>
    </p>

    <p>Interested in being a speaker? Please e-mail us an abstract of your talk at <a href="mailto:hello@bjug.ro">hello@bjug.ro</a>.
    </p>

    <p>Interested in hosting a meetup? Please send a note to <a href="mailto:hello@bjug.ro">hello@bjug.ro</a>.</p>

    <h3>Upcoming meetup</h3>

    <p>
        <img id="upcoming" src="">
    </p>

    <p>
        <strong>Mark your calendars.</strong>
    </p>
</div>
<!-- id="home_content" -->
