<div id="meta_content" class="visualstate">
    <h3>About us</h3>

    <p>The Bucharest Java Users Group (BJUG) is a technical community that welcomes Java developers as well as software
        engineers who have an interest in any aspect or language surrounding the JVM platform.</p>

    <p>Our objective is to build a strong community. Through our regular monthly meetings and web site, we aim to bring
        together members of Bucharest's Java community so they can share their tips, techniques, knowledge and
        experience.</p>

    <p>Please let us know if you have any suggestions for our Java user group or the web site.</p>

    <h3>Brief history</h3>

    <p>The Bucharest Java Users Group was founded in 2012 by <a href="http://www.linkedin.com/in/sandrei"
                                                                target="_blank">Andrei Savu</a>, <a
            href="http://www.linkedin.com/pub/ioan-eugen-stan/15/10b/476" target="_blank">Ioan Eugen Stan</a> and <a
            href="http://www.linkedin.com/pub/mihai-soloi/17/1a8/269" target="_blank">Mihai Soloi</a>. The first meetup
        was hosted by Ceata with an audience of around 25 people. We have been growing ever since.</p>

    <h3>Meetup format</h3>

    <p>Meetups are conducted following a well-established, time-tested format.
        <br>
        They are typically scheduled on the last (or second-to-last) Thursday of every month. They begin around 19:00
        and typically last one and a half hours in the formal setting. Afterwards, some participants go to a pub for
        drinks.</p>
    <table class="table">
        <tr>
            <td>19:00~19:10&nbsp;:</td>
            <td>Community announcements and a brief message from the sponsor</td>
        </tr>
        <tr>
            <td>19:10~19:40&nbsp;:</td>
            <td>Tech talk #1</td>
        </tr>
        <tr>
            <td>19:40~19:55&nbsp;:</td>
            <td>Networking break</td>
        </tr>
        <tr>
            <td>19:55~20:25&nbsp;:</td>
            <td>Tech talk #2</td>
        </tr>
        <tr>
            <td>20:30~.....</td>
            <td>Participants leave; the group moves to a pub</td>
        </tr>
    </table>
    <h3>Planning / organizing / sponsoring a meetup</h3>

    <p>The BJUG organizers and the sponsor make arrangements one month prior to every meeting. An announcement is
        subsequently placed on the front page of the web site along with date and location specifics as well as details
        of the talks. A copy of the announcement is sent to the mailing list.
        <br>
        Participants then sign up for the event using Eventbrite.
        <br>
        Our sponsor agrees to provide a conference room with a projector / screen and a capacity of at least 50 seats.
        At the beginning of the meetup, we invite our sponsor to give a 5-minute promotional presentation to the
        audience.</p>
</div>
<!-- id="meta_content" -->
