<div id="prev_content" class="visualstate">
    <h3>8th meetup</h3>
    <br>
    <strong>When:</strong> January 24th, 2013
    <br>
    <br>
    <strong>Where:</strong> <a href="http://myadobe.ro/" target="_blank">Adobe Romania</a>
    <br>
    <br>
    <strong>Presentations:</strong>
    <ul>
        <li>Class-Loaders (history, hierarchies, pitfalls and workarounds, JSE, JEE, OSGi) - <a
                href="http://ro.linkedin.com/in/gerarddragoi" target="_blank">Gerard Drăgoi</a></li>
        <li><a href="https://github.com/CodeSphere/termitaria" target="_blank">Termitaria</a> (Open Source Java software
            for project management) - <a href="http://ro.linkedin.com/pub/dan-damian/43/62a/a20/" target="_blank">Dan
                Damian</a></li>
    </ul>
    <br>

    <h3>7th meetup</h3>
    <br>
    <strong>When:</strong> November 22nd, 2012
    <br>
    <br>
    <strong>Where:</strong> At the Bucharest World Trade Center with support from <a
        href="http://www.anritsu.com/en-GB/" target="_blank">Anritsu</a>
    <br>
    <br>
    <strong>Presentations:</strong>
    <ul>
        <li>Real life collaboration in IDE (<a href="http://www.slideshare.net/rombertw/idedriven-collaboration"
                                               target="_blank">slides</a>) - <a
                href="http://ro.linkedin.com/in/robertmunteanu" target="_blank">Robert Munteanu</a></li>
        <li><a href="http://code.google.com/p/gae-ql/" target="_blank">External DSL with ANTLR and Java</a> (<a
                href="https://docs.google.com/presentation/d/1jtLjyqJplbmWd9I0WtQ4xpiuunwihpg7ke_x7Tqqw9s/present"
                target="_blank">slides</a>) - <a href="http://www.linkedin.com/pub/vlad-untu/18/925/b32"
                                                 target="_blank">Vlad Untu</a> and <a
                href="mailto:vlad.dragan@asterixsoft.ro">Vlad Drăgan</a></li>
    </ul>
    <br>

    <h3>6th meetup</h3>
    <br>
    <strong>When:</strong> October 23rd, 2012
    <br>
    <br>
    <strong>Where:</strong> <a href="http://www.ibm.com/ro/ro/" target="_blank">IBM Romania</a>
    <br>
    <br>
    <strong>Presentations:</strong>
    <ul>
        <li>Intro to OSGI (<a href="http://www.slideshare.net/alexproca1/osgi-overview" target="_blank">slides</a>) - <a
                href="http://www.linkedin.com/pub/alex-proca/27/43b/956" target="_blank">Alex Proca</a></li>
        <li>REST with Spring (<a href="http://www.slideshare.net/EugenParaschiv/rest-with-spring"
                                 target="_blank">slides</a>) - <a
                href="https://www.linkedin.com/pub/eugen-paraschiv/11/284/45" target="_blank">Eugen Paraschiv</a></li>
    </ul>
    <br>

    <h3>5th meetup</h3>
    <br>
    <strong>When:</strong> September 27th, 2012
    <br>
    <br>
    <strong>Where:</strong> <a href="https://www.facebook.com/CegekaRomania" target="_blank">Cegeka.ro</a>
    <br>
    <br>
    <strong>Presentations:</strong>
    <ul>
        <li><a href="https://github.com/bucharest-jug/dropwizard-todo" target="_blank">Dropwizard</a> application - from
            0 to production (<a href="http://www.slideshare.net/savu.andrei/simple-rest-with-dropwizard"
                                target="_blank">slides</a>) (<a href="http://www.youtube.com/embed/xvV4ihePRhU"
                                                                target="_blank">video</a>) - <a
                    href="http://ro.linkedin.com/in/sandrei" target="_blank">Andrei Savu</a></li>
        <li>Javascript UI for REST services (<a
                href="http://www.slideshare.net/ieugen222/javascript-ui-for-rest-services" target="_blank">slides</a>) (<a
                href="http://www.youtube.com/embed/jkIgyB4aHhM" target="_blank">video</a>) - <a
                href="http://ro.linkedin.com/pub/ioan-eugen-stan/15/10b/476" target="_blank">Ioan Eugen Stan</a></li>
    </ul>
    <br>

    <h3>4th meetup</h3>
    <br>
    <strong>When:</strong> August 23rd, 2012
    <br>
    <br>
    <strong>Where:</strong> <a href="http://www.teamnet.ro/" target="_blank">TeamNet</a>
    <br>
    <br>
    <strong>Presentations:</strong>
    <ul>
        <li>Clean Code (<a href="http://www.youtube.com/embed/UZx9zM54atY" target="_blank">video</a>) - <a
                href="http://ro.linkedin.com/pub/victor-bucutea/52/54/7bb" target="_blank">Victor Bucutea</a></li>
        <li><a href="http://www.eclipse.org/modeling/emf/" target="_blank">Eclipse Modeling Framework</a> (<a
                href="http://www.youtube.com/embed/0n3oXfrw72A" target="_blank">video</a>) - <a
                href="http://ro.linkedin.com/pub/cristian-spiescu/5/827/b2a" target="_blank">Cristian Spiescu</a></li>
        <li>Automated testing with <a href="http://sikuli.org/" target="_blank">Sikuli</a> (<a
                href="http://www.youtube.com/embed/J3h4sPYGqjQ" target="_blank">video</a>) - Andra Elena Iacov
        </li>
    </ul>
    <br>

    <h3>Third meetup</h3>
    <br>
    <strong>When:</strong> July 26th, 2012
    <br>
    <br>
    <strong>Where:</strong> <a href="http://myadobe.ro/" target="_blank">Adobe Romania</a>
    <br>
    <br>
    <strong>Presentations:</strong>
    <ul>
        <li>Fast guide to <a
                href="http://docs.oracle.com/javase/6/docs/technotes/guides/security/jaas/JAASRefGuide.html"
                target="_blank">JAAS</a> (<a
                href="https://docs.google.com/presentation/d/1pyeFL9zFiVRyltvtCxFmdRBzgpeXB7tJpZZQJdDhEh4/present"
                target="_blank">slides</a>) - <a href="http://www.linkedin.com/in/florinbuzatu" target="_blank">Florin
            Buzatu</a></li>
        <li><a href="http://trove.starlight-systems.com/" target="_blank">Trove - memory efficient data structures</a> -
            <a href="http://www.linkedin.com/in/cornelcreanga" target="_blank">Corneliu Creanga</a></li>
        <li><a href="http://www.slideshare.net/silviad74/code-review-for-secure-web-applications" target="_blank">Code
            Review for Secure Web Application</a> - Silvia Dumitrescu
        </li>
    </ul>
    <br>

    <h3>Second meetup</h3>
    <br>
    <strong>When:</strong> June 21st, 2012
    <br>
    <br>
    <strong>Where:</strong> <a href="http://www.teamnet.ro/" target="_blank">TeamNet</a>
    <br>
    <br>
    <strong>Presentations:</strong>
    <ul>
        <li><a href="https://code.google.com/p/guava-libraries/" target="_blank">Google Guava</a> Overview. Part 2 (<a
                href="https://docs.google.com/presentation/d/1AI3oDoGlpT5AIi5Okywrpl3-rLCSe-DdQXLtzrnK_XQ/present"
                target="_blank">slides</a>) - <a href="http://www.linkedin.com/in/sandrei" target="_blank">Andrei
            Savu</a></li>
        <li>Who's your favorite open-source Java programmer? - <a href="http://www.linkedin.com/in/gerarddragoi"
                                                                  target="_blank">Gerard Dragoi</a></li>
        <li><a href="http://sling.apache.org/" target="_blank">Apache Sling</a> - the whys and the hows (<a
                href="http://www.slideshare.net/rombertw/apache-sling-the-whys-and-the-hows" target="_blank">slides</a>)
            - <a href="http://www.linkedin.com/in/robertmunteanu" target="_blank">Robert Munteanu</a></li>
    </ul>
    <br>

    <h3>First meetup</h3>
    <br>
    <strong>When:</strong> May 24th, 2012
    <br>
    <br>
    <strong>Where:</strong> <a href="http://ceata.org/" target="_blank">Ceata</a>
    <br>
    <br>
    <strong>Presentations:</strong>
    <ul>
        <li><a href="https://code.google.com/p/guava-libraries/" target="_blank">Google Guava</a> Overview. Part 1 (<a
                href="https://docs.google.com/presentation/pub?id=1g8shQwGeLzNx1J-OhM0BX7pLGF4BDDQxvnHqcgNvmHg"
                target="_blank">slides</a>) - <a href="http://www.linkedin.com/in/sandrei" target="_blank">Andrei
            Savu</a></li>
        <li><a href="https://maven.apache.org/" target="_blank">Apache Maven 3</a>: Concepts and new features (<a
                href="https://docs.google.com/presentation/pub?id=1xyAg-Rli5Jx06fTRDmCq-Wj9wwYeeDL7A6AUUoYxYBY"
                target="_blank">slides</a>) - <a href="http://www.linkedin.com/pub/mihai-soloi/17/1a8/269"
                                                 target="_blank">Mihai Soloi</a></li>
        <li><a href="https://james.apache.org/" target="_blank">Apache James</a>: more than emails in the cloud (<a
                href="https://docs.google.com/presentation/pub?id=12BMJ6fjQFcQtv4jWZK9CyccrXBX2UY11f6Uc5wYKkEc"
                target="_blank">slides</a> - prelude for <a
                href="http://berlinbuzzwords.de/sessions/apache-james-more-emails-cloud" target="_blank">Berlin
            Buzzwords</a>) - <a href="http://www.linkedin.com/pub/ioan-eugen-stan/15/10b/476" target="_blank">Ioan Eugen
            Stan</a></li>
    </ul>
    <p>Andrei Cristian Petcu was kind enough to share a writeup of his impressions from the first edition at <a
            href="http://fii-liber.ro/grupul-utilizatorilor-de-java-din-bucuresti" target="_blank">fii-liber.ro</a></p>
</div>
<!-- id="prev_content" -->

