<div id="sponsors_content" class="visualstate">
    <h3>We'd like to thank our sponsors:</h3>

    <div class="sponsor">
        <a href="http://axemblr.com/" target="_blank"><img id="axemblr_logo" src="" alt=""></a>
    </div>
    <div class="sponsor">
        <a href="http://ceata.org/" target="_blank"><img id="ceata_logo" src="" alt=""></a>
    </div>
    <div class="sponsor">
        <a href="http://www.teamnet.ro/" target="_blank"><img id="teamnet_logo" src="" alt=""></a>
    </div>
    <div class="sponsor">
        <a href="http://myadobe.ro/" target="_blank"><img id="adobe_logo" src="" alt=""></a>
    </div>
    <div class="sponsor">
        <a href="https://www.facebook.com/CegekaRomania" target="_blank"><img id="cegeka_logo" src="" alt=""></a>
    </div>
    <div class="sponsor">
        <a href="http://java2days.com/" target="_blank"><img id="java2days_2012_logo_s" src="" alt=""></a>
    </div>
    <div class="sponsor">
        <a href="http://www.centeractive.com/" target="_blank"><img id="retrospective_logo" src="" alt=""></a>
    </div>
    <div class="sponsor">
        <a href="http://www.ibm.com/ro/ro" target="_blank"><img id="ibm_logo" src="" alt=""></a>
    </div>
    <div class="sponsor">
        <a href="http://www.gtug.ro/" target="_blank"><img id="gtug_logo" src="" alt=""></a>
    </div>
    <div class="sponsor">
        <a href="http://www.anritsu.com/en-GB/" target="_blank"><img id="anritsu_logo" src="" alt=""></a>
    </div>
</div>
<!-- id="sponsors_content" -->

